<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">

<head>
	
	<link rel="stylesheet" th:href="@{/fancybox/jquery.fancybox.css}">
	<script src="fancybox/jquery.fancybox.js"></script>
	
	
	<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <meta charset="UTF-8">
    <meta name="description" content="Padama Hotel">
    <meta name="keywords" content="padama, hotel, lima, peru">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sobre Nosotros - Padama Hotel</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}">
    <link rel="stylesheet" th:href="@{/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
    <link rel="stylesheet" th:href="@{/css/style2.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
   
    	<!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    
    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
        <i class="icon_menu"></i>
    </div>
    
    <!-- Menu Section Begin -->
    <div th:replace="layout::menuoff" ></div>
    <!-- Menu Section End -->
    
    <!-- Header Section Begin -->
    <header th:replace="layout::header-user" ></header>
    <!-- Header Section End -->
    
    <!-- Breadcrumb Section End -->
    <section class="galeria">
    	<div class="galeria container-fluid">
    	<div class="row mt-4">
    		<div class="item col-sm-6 col-md-4 mb-3">
    			<a href="img/habitacion_premium.jpg" data-fancybox="gallery">
    				<img src="img/habitacion_premium.jpg" width="100%" height="%100">
    			</a>
    		</div>
    		
    		<div class="item col-sm-6 col-md-4 mb-3">
    			<a href="img/habitacion_familiar.jpg" data-fancybox="gallery">
    				<img src="img/habitacion_familiar.jpg" width="100%" height="100%">
    			</a>
    		</div>
    		
    		<div class="item col-sm-6 col-md-4 mb-3">
    			<a href="img/habitacion_individual.jpg"  data-fancybox="gallery">
    				<img src="img/habitacion_individual.jpg" width="100%" height="%100">
    			</a>
    		</div>
    		
    		<div class="item col-sm-6 col-md-4 mb-3">
    			<a href="img/habitacion_matrimonial.jpg" data-fancybox="gallery">
    				<img src="img/habitacion_matrimonial.jpg" width="100%" height="%100">
    			</a>
    		</div>
    		
    		
    		<div class="item col-sm-6 col-md-4 mb-3">
    			<a href="img/habitacion_premium.jpg" data-fancybox="gallery">
    				<img src="img/habitacion_premium.jpg" width="100%" height="%100">
    			</a>
    		</div>
    		
    		<div class="item col-sm-6 col-md-4 mb-3">
    			<a href="img/habitacion_familiar.jpg" data-fancybox="gallery">
    				<img src="img/habitacion_familiar.jpg" width="100%" height="100%">
    			</a>
    		</div>
    		
    		<div class="item col-sm-6 col-md-4 mb-3">
    			<a href="img/habitacion_individual.jpg"  data-fancybox="gallery">
    				<img src="img/habitacion_individual.jpg" width="100%" height="%100">
    			</a>
    		</div>
    		
    		<div class="item col-sm-6 col-md-4 mb-3">
    			<a href="img/habitacion_matrimonial.jpg" data-fancybox="gallery">
    				<img src="img/habitacion_matrimonial.jpg" width="100%" height="%100">
    			</a>
    		</div>
    		
    		<div class="item col-sm-6 col-md-4 mb-3">
    			<a href="img/habitacion_premium.jpg" data-fancybox="gallery">
    				<img src="img/habitacion_premium.jpg" width="100%" height="%100">
    			</a>
    		</div>
    		
    		<div class="item col-sm-6 col-md-4 mb-3">
    			<a href="img/habitacion_familiar.jpg" data-fancybox="gallery">
    				<img src="img/habitacion_familiar.jpg" width="100%" height="100%">
    			</a>
    		</div>
    		
    		<div class="item col-sm-6 col-md-4 mb-3">
    			<a href="img/habitacion_individual.jpg"  data-fancybox="gallery">
    				<img src="img/habitacion_individual.jpg" width="100%" height="%100">
    			</a>
    		</div>
    		
    		<div class="item col-sm-6 col-md-4 mb-3">
    			<a href="img/habitacion_matrimonial.jpg" data-fancybox="gallery">
    				<img src="img/habitacion_matrimonial.jpg" width="100%" height="%100">
    			</a>
    		</div>
    		
    		<div class="item col-sm-6 col-md-4 mb-3">
    			<a href="img/habitacion_premium.jpg" data-fancybox="gallery">
    				<img src="img/habitacion_premium.jpg" width="100%" height="%100">
    			</a>
    		</div>
    		
    		<div class="item col-sm-6 col-md-4 mb-3">
    			<a href="img/habitacion_familiar.jpg" data-fancybox="gallery">
    				<img src="img/habitacion_familiar.jpg" width="100%" height="100%">
    			</a>
    		</div>
    		
    		<div class="item col-sm-6 col-md-4 mb-3">
    			<a href="img/habitacion_individual.jpg"  data-fancybox="gallery">
    				<img src="img/habitacion_individual.jpg" width="100%" height="%100">
    			</a>
    		</div>
    		
    		<div class="item col-sm-6 col-md-4 mb-3">
    			<a href="img/habitacion_matrimonial.jpg" data-fancybox="gallery">
    				<img src="img/habitacion_matrimonial.jpg" width="100%" height="%100">
    			</a>
    		</div>
    		
    		<div class="item col-sm-6 col-md-4 mb-3">
    			<a href="img/habitacion_matrimonial.jpg" data-fancybox="gallery">
    				<img src="img/habitacion_matrimonial.jpg" width="100%" height="%100">
    			</a>
    		</div>
    		
    		<div class="item col-sm-6 col-md-4 mb-3">
    			<a href="img/habitacion_matrimonial.jpg" data-fancybox="gallery">
    				<img src="img/habitacion_matrimonial.jpg" width="100%" height="%100">
    			</a>
    		</div>
    		
    	</div>
    
    </div>
    
    </section>
    
    
    
  <!-- Footer Section Begin -->
    <footer th:replace="layout::footer" ></footer>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div th:replace="layout::search" ></div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>