<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head th:replace="layout::head">
</head>

<body>


	<div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
        <i class="icon_menu"></i>
    </div>
    
    <!-- Menu Section Begin -->
    <div th:replace="layout::menuoff" ></div>
    <!-- Menu Section End -->
    
    <!-- Header Section Begin -->
    <header th:replace="layout::header-admin" ></header>
    <!-- Header Section End -->




	<div class="breadcrumb-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-text">
						<h2>Pisos</h2>
						<div class="bt-option">
							<a th:href="@{/home}">Home</a> <span>Pisos</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<div class="botones_a text-center">
		<a  id="a_no_confirmado" href="javascript:void(0);" onclick="mostrar_habilitados();">Habilitados</h3></a>
		<a id="a_cancelado" href="javascript:void(0);" onclick="mostrar_deshabilitados();">Deshabilitados</a>
	</div>
<section class="aboutus-page-section-habitacion">
	
		
	
	
	
	
		
		<div class="registrar_a  mb-4 container">

			<a th:href="@{/listar_nivel/registrar_nivel}" class="bk-btn text-center">
			
						<h1>+</h1>
						<h3 class="mb-4">Registrar Piso</h3>
			</a>
			


			</div>
		



	
	</section>


	<section class="container">

	
		

		<div id="div_h" class="mb-5">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Piso</th>
						<th scope="col">Capacidad</th>
						<th scope="col">Estado</th>
						<th scope="col">Editar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each=" desc: ${lista}" th:if="${desc.estado} == 'Habilitado'">
						<th class="habili" th:text="${desc.idnivel}"></th>
						<td th:text="${desc.numpiso}"></td>
						<td th:text="${desc.capacidad}"></td>
						<td th:text="${desc.estado}"></td>
						<td><a
							th:href="@{/listar_nivel/actualizar_nivel/}+${desc.idnivel}"
							class="bk-btn">Editar</a>

						


						</td>

					</tr>

				</tbody>
			</table>
			<div class="text-center">
				<h1 id="habilitado_h1"></h1>
			</div>

		</div>

		<div id="div_d" class="mb-5">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Piso</th>
						<th scope="col">Capacidad</th>
						<th scope="col">Estado</th>
						<th scope="col">Editar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each=" desc: ${lista}" th:if="${desc.estado} == 'Deshabilitado'">
						<th class="desbili" th:text="${desc.idnivel}"></th>
						<td th:text="${desc.numpiso}"></td>
						<td th:text="${desc.capacidad}"></td>
						<td th:text="${desc.estado}"></td>
						<td><a
							th:href="@{/listar_nivel/actualizar_nivel/}+${desc.idnivel}"
							class="bk-btn">Editar</a>

						


						</td>

					</tr>

				</tbody>
			</table>
			<div class="text-center">
				<h1 id="deshabilitado_h1"></h1>
			</div>

		</div>


	</section>




	





	
	<!-- Footer Section Begin -->
	<footer th:replace="layout::footer"></footer>
	<!-- Footer Section End -->

	<!-- Search model Begin -->
	<div th:replace="layout::search"></div>
	<!-- Search model end -->

	<!-- Js Plugins -->
	<script type="text/javascript" th:src="@{/script/jquery/jQuery_v3.6.0.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/js/jquery.nice-select.min.js}"></script>
	<script th:src="@{/js/jquery-ui.min.js}"></script>
	<script th:src="@{/js/jquery.slicknav.js}"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script type="text/javascript" th:src="@{/script/jsweb/Nivel/frmnivel.js}" ></script>

	

</body>
</html>

