<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head th:replace="layout::head">
</head>
<body>
    
    <!-- Menu Section Begin -->
    <div th:replace="layout::menuoff" ></div>
    <!-- Menu Section End -->
    
    <!-- Header Section Begin -->
    <header th:replace="layout::header-admin" ></header>
    <!-- Header Section End -->


	<!-- Breadcrumb Section Begin -->
	<div class="breadcrumb-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-text">
						<h2>Registrar Categoria</h2>
						<div class="bt-option">
							<a href="/habitacion">Habitaciones</a> <span>Registrar
								Categoria</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="contenedor-form">
		<form class="formus" th:action="@{/registrar}" th:object=${categorias} autocomplete="off" enctype="multipart/form-data"
			method="post" id="registrar_categoria" onsubmit="return validar();">
			
				<label class="form-label mt-3" for="categoria">Nombre: </label> <input title="El nombre de la categoria es requerida"
					type="text" th:field="*{categoria}" class="registro" placeholder="Ingrese el Nombre" id="categoria" >
				<span id="errorcategoria" class="text-danger"></span>

			
				<label class="form-label" for="descriph">Descripcion: </label>

				<textarea title="La descripcion es requerida" th:field="*{descriph}" class="registro-text" placeholder="Ingrese la Descripcion" id="descriph" ></textarea>
				<span id="errordescripcion" class="text-danger"></span>

			
				<label class="form-label" for="preciobase">Precio: </label> <input
					type="number" step="0.01" th:field="*{preciobase}"  placeholder="Ingrese el Precio" class="registro"
					id="preciobase" >
				<span  id="errorpreciobase" class="text-danger"></span>	
				
					

				<label class="form-label" for="estado">Disponibilidad: </label>
								
				<select  title="Debe seleccionar una opcion" class="p-0 mb-0 registro form-control" id= "estado" th:field="*{estado}" >
						<option hidden value="">Selecciona una opcion</option>
						<option th:value="Habilitado">Habilitado</option>
						<option  th:value="Deshabilitado">Deshabilitado</option>
				</select>
				<span id="errorestado" class="text-danger"></span>

				<label class="form-label" for="imagen">Imagen: </label> <input
					type="file"  name="file"  placeholder="Ingrese la imagen" class="registro"
					id="imagen">	
					
				<span id="errorimagen" class="text-danger"></span>
			

			
			<input type="submit" class="btn-registrar"  value="Guardar">
			

		</form>


	</div>

   <!-- Footer Section Begin -->
    <footer th:replace="layout::footer" ></footer>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div th:replace="layout::search" ></div>
    <!-- Search model end -->

	<script type="text/javascript" th:src="@{/script/jquery/jQuery_v3.6.0.js}"></script>
	<script type="text/javascript" th:src="@{/script/jsweb/categoria/frmcategoria.js}" ></script>
	
	



</body>
</html>





