<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head th:replace="layout::head">
</head>
<body>

    
    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
        <i class="icon_menu"></i>
    </div>
    
    <!-- Menu Section Begin -->
    <div th:replace="layout::menuoff" ></div>
    <!-- Menu Section End -->
    
    <!-- Header Section Begin -->
    <header th:replace="layout::header-admin" ></header>
    <!-- Header Section End -->



	<!-- Breadcrumb Section Begin -->
	<div class="breadcrumb-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-text">
						<h2>Registrar Piso</h2>
						<div class="bt-option">
							<a th:href="@{/listar_nivel}">Piso</a> <span>Registrar Piso
</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="contenedor-form">
		<form class="formus" th:action="@{/generar_nivel}" th:object=${nivel} autocomplete="off" 
			method="post" onsubmit="return validar_registro_piso();">
			
				<label class="form-label mt-3" for="numpiso">Piso: </label> <input
					type="text" th:field="*{numpiso}" class="registro" placeholder="Ingrese el Nombre" id="numpiso">
				<span  id="errornumpiso" class="text-danger"></span>	

			
				<label class="form-label" for="capacidad">Capacidad: </label>

				<input th:field="*{capacidad}" class="registro-text" placeholder="Ingrese la Capacidad" id="capacidad"></input>
			<span  id="errorcapacidad" class="text-danger"></span>	

			
					
				<label class="form-label" for="estado">Disponibilidad: </label>
				<select class="p-0 registro form-control" id= "estado" th:field="*{estado}" >
						<option value="" hidden>Selecciona una opcion</option>
						<option th:value="Habilitado">Habilitado</option>
						<option  th:value="Deshabilitado">Deshabilitado</option>
				</select>
<span  id="errorestado" class="text-danger"></span>	
				
	
			

			
			<input type="submit" class="btn-registrar" value="Guardar">
			

		</form>


	</div>


   <!-- Footer Section Begin -->
    <footer th:replace="layout::footer" ></footer>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div th:replace="layout::search" ></div>
    <!-- Search model end -->
	
	<script type="text/javascript" th:src="@{/script/jquery/jQuery_v3.6.0.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/js/jquery.nice-select.min.js}"></script>
	<script th:src="@{/js/jquery-ui.min.js}"></script>
	<script th:src="@{/js/jquery.slicknav.js}"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script type="text/javascript" th:src="@{/script/jsweb/Nivel/frmnivel.js}" ></script>
	


</body>
</html>

