<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head th:replace="layout::head">
<meta charset="UTF-8">
</head>
<body>

	<!-- Menu Section Begin -->
	<div th:replace="layout::menuoff"></div>
	<!-- Menu Section End -->

	<!-- Header Section Begin -->
	<header th:replace="layout::header-admin"></header>
	<!-- Header Section End -->


	<!-- Breadcrumb Section Begin -->
	<section class="hero-section">
		<div class="container">

			<div class="row">
				<div class="col-lg-6">
					<div class="booking-form">

						<h3>Unete a nuestra familia</h3>

						<form th:action="@{/usuario_registro}" method="post" th:object="${user}"
							onsubmit="return validar_registro_usuario();">
							<!--Es necesario para poder pasar la validacion del Model-->
							<input class="form-control" type=hidden th:field="${user.id}"
								th:if="${editMode}"> <input class="form-control"
								type=hidden name="password" value="xxxx" th:if="${editMode}">
							<div class="form-group">
								<label for="nombre">Ingresa su nombre </label> <input
									type="text" class="form-control" th:field="${user.nombre}"
									placeholder="Nombre" id="nombre"> <span
									id="errornombre" class="text-danger"></span>
							</div>
							<div class="form-group" id="user-group">
								<label for="email">Ingresa sus Apellidos </label> <input
									type="text" th:field="${user.apellidos}" class="form-control"
									placeholder="apellidos" id="apellidos"> <span
									id="errorapellidos" class="text-danger"></span>
							</div>

							<div class="form-group" id="user-group">
								<label>Ingresa tu correo</label> <input type="text"
									class="form-control" th:field="${user.username}"
									placeholder="name@example.com" id="username"> <span
									id="errorusername" class="text-danger"></span>
							</div>

							<div class="form-group">
								<label>Ingresa tu contraseña</label> <input type="password"
									class="form-control" th:field="${user.password}"
									placeholder="**********" id="contraseña"> <span
									id="errorcontraseña" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label>Ingresa Documento de identidad</label> <input type="text"
									class="form-control" th:field="${user.num_docu}" placeholder=""
									id="DNI" pattern="[0-9]+"> <span id="errorDNI"
									class="text-danger"></span>
							</div>
							<div class="form-group">
								<label>Ingresa tu n°telefono</label> <input type="text"
									class="form-control" th:field="${user.telefono}"
									placeholder="########" id="telefono" pattern="[0-9]+">
								<span id="errortelefono" class="text-danger"></span>
							</div>
							<div class="form-group row">
								<div class="col-lg-12 text-center">

									<div class="form-group">
										<button type="submit" class="btn btn-success">Registrate</button>
									</div>

									<br> <a class="btn btn-success" th:href="@{/usuarios}">REGRESAR</a>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col-lg-6">
					<br> <br> <br> <br> <br> <img
						class="d-inline-block align-top" src="img/registro.jpg"
						width="500" height="500" alt="">
				</div>
			</div>
		</div>
	</section>
	
	
	
	
	
	<!-- Footer Section Begin -->
	<footer th:replace="layout::footer"></footer>
	<!-- Footer Section End -->

	<!-- Search model Begin -->
	<div th:replace="layout::search"></div>
	<!-- Search model end -->

	<!-- Js Plugins -->
	<script type="text/javascript"
		th:src="@{/script/jquery/jQuery_v3.6.0.js}"></script>
	<script type="text/javascript"
		th:src="@{/script/jsweb/usuario/usuario.js}"></script>

</body>
</html>