.banner {
background: url(../img/temporada.jpg);
background-size: 100% 100%;
background-color:rgb(100,100,100);
background-blend-mode:soft-light;
min-height: 400px;
position:relative;
top:0;
left:0;
width:100%;
z-index:-999;

}

.banner__content{
		
		width:100%;
		padding: 10px;
		position:absolute;
		top:60%;
		left:50%;
		transform: translateX(-50%) translateY(-50%);
		
		font-size:1.3em;
		text-align:center;
		
}

.banner__content .banner__title{
	color:#dfa974;
}

.banner__content .banner__txt{
	color:white;
}

.about-page-text-habitacion .imagen{
	
	size:100%;
	position:relative
	
	
}

.about-page-text-habitacion .imagen .descuento{
	
	
	position:absolute;
	width:25%;
	height: 40%;
	top: 0px;
  	left: 0px;
	padding:0px;
	margin:0px;
	
}


.about-page-text-habitacion .imagen .descuentotxt{
	
	
	position:absolute;
	
	
	top: 40px;
  	left: 45px;
	
	
}


.aboutus-page-section-habitacion {
	
	padding-top:1px;
	
	
}


.about-page-text-habitacion {
	margin-bottom: 65px;
	background: #EBEBEB;
	
	
	
}

.about-page-text-habitacion .ap-title {
	margin-bottom: 30px;
}
.about-page-text-habitacion .ap-title h2 {
	font-size: 44px;
	color: #19191a;
	margin-bottom: 18px;
}
.about-page-text-habitacion .ap-title p {
	font-size: 18px;
	color: #707079;
	line-height: 28px;
}
.about-page-text-habitacion .ap-services li {
	list-style: none;
	font-size: 18px;
	color: #707079;
	line-height: 42px;
	display: inline-block;
	margin-left: 20px;
	
}

.about-page-text-habitacion .boton {
	
	background: #dfa974;
	padding: 10px;
	
}

.about-page-text-habitacion .boton_CREC {
	
	
	padding: 10px;
	
}

.about-page-text-habitacion .boton_EDIT {
	
	
	padding: 10px;
	
}

.about-page-text-habitacion .boton_DESC {
	
	
	padding: 10px;
	
}

.about-page-text-habitacion .boton a{
	
	color: #ffffff;
}

.about-page-text-habitacion .mas a{
	
	color: #000000;
}

.about-page-text-habitacion .ap-services li ion-icon {
	color: #dfa974;
	margin-right: 5px;
	font-size: 18px;
}

.galeria .galeria .item{
	transition: .5s ease-in-out;
}

.galeria{
	padding-bottom: 70px;
}

.galeria .galeria .item:hover{
	filter: brightness(80%);
}


.contenedor-form .formus {
	
	background:#EBEBEB;
	width: 90%;
	max-width: 650px;
	margin:auto;
	padding: 5px 35px;
	margin-top: 30px;
	padding-bottom: 30px;
	border-radius:3px;
	
	
}


.contenedor-form {
	
	margin-bottom: 120px;
	
	
}


.contenedor-form .formus .form-label{
	display:block;
	font-size:16px;
	position:relative;
}

.contenedor-form .formus .registro-text, .registro{
	
	border:none;
	outline:none;
	border-bottom:2px solid #dfa974;
	width: 100%;
	padding: 12px;
	margin-bottom: 20px;
	border-radius: 2px;
	font-size:14px;
	
	
}

.contenedor-form .formus .registro-text{
	resize:vertical;
	max-height: 150px;
	min-height: 50px;
}

.contenedor-form .formus .btn-registrar{
	width: 100%;
	outline:none;
	background: #dfa974;
	border: none;
	color:#fff;
	padding: 15px;
	font-size:16px;
	cursor:pointer;
}


.btns-registrar{
	width: 100%;
}




.content {
	
	padding:10px;
	display: inline-block;
	width: auto;
	text-align:center;
	
	
}

.content .cartas{
	
	background:#EBEBEB;
	
	
	
}

.content .card-title{
		
	background:#dfa974;
	color:white;
	
}


.content .card-buton button{
		
	width: 50%;
	outline:none;
	background: #dfa974;
	border: none;
	color:#fff;
	padding: 15px;
	font-size:16px;
	cursor:pointer;
	
}

.modal-footer .btn
{
	border:0px;
	background: #dfa974;
	
}


table thead  {
	
	background: #dfa974;
}


.registrar_a{
	border:dashed;
	border-color:#EBEBEB;
	margin-bottom:30px;
}

.registrar_a h1{
	
	margin-bottom: 0px;
	
}

.registrar_a h1, h3{
	
	margin-bottom: 0px;
	color:#dfa974
}

.about-page-text-habitacion .titulo{
	
	background:#dfa974;
	padding: 30px;
}

.about-page-text-habitacion .titulo h2{
	color:white;
	
}

.descuentos_sec{
	margin-bottom: 120px;
}

#tablaes{
	
	margin-bottom: 250px;
}

.botnes button{
	
	margin-bottom: 0px;
	color:#dfa974;
	margin-bottom: 20px;
	background: #dfa974;
	color: white;
	border:none;
	
}

.botnes button:hover{
	
	background:#dfa974;
	
}

.formus input{
	margin-bottom: 0px;
}

.contenedor-form .formus .registro-text {
	margin-bottom: 0px;
}

.formus label{
	margin-top: 30px;
		
}

.formus .btn-registrar{
	margin-top: 40px;
}

#informacion_cliente{
	display:none;
}

#informacion_habitacion{
	display:none;
}

#informacion_servicios{
	display:none;
}

#informacion_pago{
	display:none;
}

#informacion_reserva{
	display:none;
}

a{
	color:black;
	text-decoration:none;
}

a:hover{
	color:blue;
}

a:visited{
	color:black;
}

a:link{
	color:black;
}