<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">

<head th:replace="layout::head">
<link rel="stylesheet" th:href="@{/css/style2.css}">
<meta charset="UTF-8">
<title>Habitaciones</title>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    
    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
        <i class="icon_menu"></i>
    </div>
    
    <!-- Menu Section Begin -->
    <div th:replace="layout::menuoff" ></div>
    <!-- Menu Section End -->
    
    <!-- Header Section Begin -->
    <header th:replace="layout::header" ></header>
    <!-- Header Section End -->
    
    <section th:if="${encontrado}" class="hero-sections">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero-textt">
                        <h1 th:text="${tempo.temporada}"></h1>
                        <p th:text = "${tempo.descripcion}"></p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="img/hero/hero-1.jpg"></div>
            <div class="hs-item set-bg" data-setbg="img/hero/hero-2.jpg"></div>
            <div class="hs-item set-bg" data-setbg="img/hero/hero-3.jpg"></div>
        </div>
    </section>
    

    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Habitaciones</h2>
                        <div class="bt-option">
                            <a href="./index.html">Home</a>
                            <span>Habitaciones</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- Breadcrumb Section End -->

    <!-- About Us Page Section Begin -->
    <section class="aboutus-page-section-habitacion">
        <div th:each= "listas : ${lista}" class="container">
            <div class="about-page-text-habitacion">
                <div class="row" >
                    <div class="col-md-6">
                        <div class="imagen">
                        	
                            <img src="img/habitacion_familiar.jpg" style="width: 100%;">
                            
                        </div>
                    </div>
                    <div class="col-md-6 my-auto">
                    	
                    	<div class="hola text-center" >
                    	
                    		<h2 th:text="${listas.categoria}"></h2>
                    		<span>Cama Queen-Sized  |  Capacidad 4 personas  |  Area 22m2 </span>
                    		
                    		<div class="mt-2">
                    			<p th:text="${listas.descriph}"></p>
                    		</div>
                    		
							<div class="mt-1">
                    	
                    			<ul class="ap-services">
                            		<li><ion-icon name="wifi-outline"></ion-icon><span>Wifi</span></li>
                            		<li><ion-icon name="call-outline"></ion-icon><span>Telefono</span></li>
                            		<li><ion-icon name="beer-outline"></ion-icon></ion-icon><span>Mini-bar</span></li>
                            		<li><ion-icon name="tv-outline"></ion-icon><span>TV</span></li>
                        		</ul>
                    		
                    			
                    		</div>
                    		<div th:if="${encontrado}">
                    			<div th:if="${listas.preciodescuento} != ${listas.preciobase}" class="mt-1">
                    				<h2 th:text="'$'+${listas.preciodescuento}"></h2>
                    				<span>$<span style="text-decoration:line-through;" th:text="${listas.preciobase}"></span></span>
                    			</div>
                    			
                    			<div th:if="${listas.preciodescuento} == ${listas.preciobase}" class="mt-1">
                    			<h2 th:text="'$'+${listas.preciobase}"></h2>
                    			
                    			</div>
                    		</div>
                    		<div th:if="${encontrado != true}">
                    			
                    			
                    			<div class="mt-1">
                    			<h2 th:text="'$'+${listas.preciobase}"></h2>
                    			
                    			</div>
                    		</div>
                    		
                    			
                    		
                    		<div class="boton mt-2">
                    				<a href="#" class="bk-btn">RESERVA AHORA</a>
                    			
                    		</div>
                    		
                    		
                    		
                    		
                    	</div>
                    	
                    	
                    	
                    	
                    	
                    	
                    	
                     </div>
                     
                     
                     
                     
                  </div>
                    	
                        
               </div>
                    
           
            </div>
            
            
       
        
        
        
    </section>
    <!-- Footer Section Begin -->
    <footer th:replace="layout::footer" ></footer>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div th:replace="layout::search" ></div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>